@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Java Cafe was founded in 2017. Our goal is to be a hub for developers to come and drink coffee while writing code in languages named after coffee.</p>
<p>I guess if you want to code in languages that aren't named after coffee, that would be OK too.</p>
