@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    5543 CoffeeScript Avenue<br />
    Grand Rapids, MI 49512<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Contact the owner:</strong>   <a href="mailto:laurenbabcock5@gmail.com">LaurenBabcock5@gmail.com</a><br />
</address>