@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Java Cafe</h1>
    <p class="lead">The perfect location for developers to drink coffee and code in languages named after coffee.</p>
    <p><img src="~/Images/java.png" alt="A tasty hot beverage"/></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register as a Java Cafe Member</h2>
        <p>
            Become a member of the Java Cafe to enjoy perks such as: 
            <ul>
               <li>A free cup of coffee on your birthday</li>
               <li>$1.00 off on every 10th cup of coffee purchased in the cafe</li> 
                <li>Access to our wireless internet</li>
                </ul>
            And so much more! Click below to join today.
        </p>
        <p><a class="btn btn-default" href="/Home/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Whole Beans For Sale</h2>
        <p>Can't get enough of that Java Cafe Java? You can now order our whole beans and have them shipped to your home! Click below to go to the store</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Order Now &raquo;</a></p>
    </div>
    
</div>